@import "tailwindcss";

:root {
  --background: #f2efdf;
  --foreground: #1a2690;
}

@theme inline {
  --color-brand-bg: #f2efdf;
  --color-brand-text: #1a2690;
  --font-main: "Noto Sans TC";
  --font-sans: var(--font-main), var(--font-geist-sans), "Inter", ui-sans-serif, system-ui;
  --font-mono: var(--font-geist-mono), ui-monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  @apply font-sans antialiased;
}