@import "tailwindcss";

:root {
  --background: #F7F7F5;
  --foreground: #262626;
  --color-brand-bg: #F7F7F5;
  --color-brand-text: #262626;
  --color-brand-primary: #147095;
  --color-brand-primaryLight: #97C1D2;
  --color-brand-secondary: #DD8954;
  --color-brand-secondaryLight: #EDC7AF;
  --color-brand-graybg: #E8ECEC;
  --color-brand-graytext: #AAAAAA;
}

@theme inline {
  --color-brand-bg: var(--color-brand-bg);
  --color-brand-text: var(--color-brand-text);
  --color-brand-primary: var(--color-brand-primary);
  --color-brand-primaryLight: var(--color-brand-primaryLight);
  --color-brand-secondary: var(--color-brand-secondary);
  --color-brand-secondaryLight: var(--color-brand-secondaryLight);
  --color-brand-graybg: var(--color-brand-graybg);
  --color-brand-graytext: var(--color-brand-graytext);
  --font-sans: var(--font-en), var(--font-ch), "Inter", ui-sans-serif, system-ui;
  --font-mono: var(--font-geist-mono), ui-monospace;

  --animate-scrolldown: scrolldown 2s ease-in-out infinite;

  @keyframes scrolldown {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(20px);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #262626;
    --foreground: #F7F7F5;
    --color-brand-bg: #262626;
    --color-brand-text: #F7F7F5;
    --color-brand-primary: #59A3BC;
    --color-brand-primaryLight: #8AB1BE;
    --color-brand-secondary: #F2A36F;
    --color-brand-secondaryLight: #EDC7AF;
    --color-brand-graybg: #414141;
    --color-brand-graytext: #808080;

  }
}

body {
  background: var(--background);
  color: var(--foreground);
  @apply font-sans antialiased;
}

#custom-cursor {
  display: none;
}

@media (pointer: fine) {
  #custom-cursor {
    display: flex;
  }

  a {
    cursor: pointer;
  }

}

@layer components {
  .link-underline-effect {
    @apply relative;

    &::after {
      @apply content-[''] absolute left-0 bottom-0 h-[2px] w-full bg-brand-primary scale-x-100 origin-right transition-transform duration-300 ease-in-out;
    }

    &:hover::after {
      @apply scale-x-0;
    }

    @media (pointer: fine) {
      &:hover::after {
        @apply scale-x-0;
      }
    }
  }

  .link-underline-effect-nav {
    @apply relative;

    &::after {
      @apply content-[''] absolute left-0 bottom-0 h-[2px] w-full bg-brand-text scale-x-0 origin-left transition-transform duration-300 ease-in-out;
    }

    &:hover::after {
      @apply scale-x-100;
    }

    @media (pointer: fine) {
      &:hover::after {
        @apply scale-x-100;
      }
    }
  }

  .skill-hover-effect {
    @apply text-[12px] px-2 py-0.5 rounded-full border transition-all duration-300 ease-in-out;
    @apply bg-brand-graybg border-brand-graytext/20 inset-shadow-sm;

    @media (pointer: fine) {
      &:hover {
        @apply bg-brand-primaryLight/20 text-brand-primary border-brand-primaryLight -translate-y-[2px];
        @apply dark:bg-brand-primary/20 dark:text-brand-primaryLight dark:border-brand-primaryLight/70;
      }
    }
  }

  .skill-hover-effect-group {
    @apply text-[12px] px-2 py-0.5 rounded-full border transition-all duration-300 ease-in-out;
    @apply bg-brand-graybg border-brand-graytext/20 inset-shadow-sm;

    @media (pointer: fine) {
      .group:hover & {
        @apply bg-brand-primaryLight/20 text-brand-primary border-brand-primaryLight;
        @apply dark:bg-brand-primary/20 dark:text-brand-primaryLight dark:border-brand-primaryLight/70;
      }
    }
  }
}