@import "tailwindcss";

:root {
  --background: #F7F7F5;
  --foreground: #262626;
  --color-brand-bg: #F7F7F5;
  --color-brand-text: #262626;
  --color-brand-primary: #137885;
  --color-brand-secondary: #DD8954;
}

@theme inline {
  --color-brand-bg: var(--color-brand-bg);
  --color-brand-text: var(--color-brand-text);
  --color-brand-primary: var(--color-brand-primary);
  --color-brand-secondary: var(--color-brand-secondary);
  --font-sans: var(--font-en), var(--font-ch), "Inter", ui-sans-serif, system-ui;
  --font-mono: var(--font-geist-mono), ui-monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #262626;
    --foreground: #F7F7F5;
    --color-brand-bg: #262626;
    --color-brand-text: #F7F7F5;
    --color-brand-primary: #137885;
    --color-brand-secondary: #DD8954;

  }
}

body {
  background: var(--background);
  color: var(--foreground);
  @apply font-sans antialiased;
}